@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1d1d1f;

  /* Apple Colors */
  --apple-blue: #0071e3;
  --apple-gray: #86868b;
  --apple-light: #f5f5f7;
  --apple-dark: #1d1d1f;

  --font-inter: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-apple-blue: var(--apple-blue);
  --color-apple-gray: var(--apple-gray);
  --color-apple-light: var(--apple-light);
  --color-apple-dark: var(--apple-dark);

  --font-sans: var(--font-inter);
}

.dark {
  --background: #000000;
  --foreground: #f5f5f7;
  --apple-light: #1c1c1e;
  /* Darker background for cards in dark mode */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}